@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-orbitron: var(--font-orbitron);
  --font-montserrat: var(--font-montserrat);
}

* {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-orbitron), Arial, Helvetica, sans-serif;
}

p,
span,
div,
a,
li,
td,
th,
label,
input,
textarea,
select,
button {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
